<h2><%= @copies.length %> results for "<%= h(params[:search])%>"</h2>

<table width="900px" align="left" valign="top" cellpadding="1">
  <tr width="900px" height="10px">
	<th align="left" valign="top" width="20px"></th>
	<th align="left" valign="top" width="25px">Call#</th>
	<th align="left" valign="top" width="50px">Accession</th>
	<th align="left" valign="top" width="125px">Title</th>
    <th align="left" valign="top" width="70px">Author</th>
	<th align="left" valign="top" width="30px">Copy</th>
	<th align="left" valign="top" width="40px">Status</th>
  </tr>

<% @copies.each do |copy| 
	book = copy.book
	%>
  <tr width="900px" >
	<td align="right" valign="top"><img id="cover_image" align="left" valign="top" height="75px" width="50px" src="http://covers.openlibrary.org/b/isbn/<%= book.isbn.gsub('-','') %>-S.jpg"></td>
	<td align="left" valign="top"><%= h(copy.dewey) if copy %><br/><%= h(copy.cutter) if copy %></td>
	<td align="left" valign="top"><%= h(copy.accession) if copy %></td>
	<td align="left" valign="top"><%= link_to h(book.title), :controller=>:books,:action=>:show, :id=>book %></td>
	<% author = book.authors[0] 
		if author
	%>
    <td align="left" valign="top"><%= author.auth_last %>, <%= author.auth_first %> <%= author.auth_middle %></td>
	<% else %>
	<td align="left" valign="top"></td>
	<% end %>
	
	<td align="left" valign="top"><%= h(copy.copy_number) if copy %></td>
	<td align="left" valign="top">
		<% #todo:  either do lazy loading of the availability status somehow or drive this whole search off a single query
		#to avoid the execessive db hits of this availability check
		%>
		<%= copy.available? ? 'Available' : 'Checked out' %>
	</td>
  </tr>
<% end %>
</table>