<p id="notice"><%= notice %></p>

<p>
  <b>Book accession:</b>
  <%= @hold.book_accession_id %>
</p>

<p>
  <b>Patron:</b>
  <%= @hold.patron_id %>
</p>

<p>
  <b>Hold date:</b>
  <%= @hold.hold_date %>
</p>


<%= link_to 'Edit', edit_hold_path(@hold) %> |
<%= link_to 'Back', holds_path %>
