<h2><%= h(@user.name)%></h2>

<input type=button value="Start Over" onclick="window.open('/checkouts', '_self','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/>

<p>

<% checkouts = @user.active_checkouts %>
You have <font size="3em"><strong><%= checkouts.length %> books</strong></font> checked out.

<fieldset>
	<legend>Checked-Out Books</legend>
	<table>
	<tr>
		<th>Accession</th>
		<th>Dewey</th>
		<th>Cutter</th>
		<th>Title</th>
	</tr>
	<% checkouts.each do |checkout|  %>
	<tr>
		<td><%= h(checkout.copy.accession) %></td>
		<td><%= h(checkout.copy.dewey) %></td>
		<td><%= h(checkout.copy.cutter) %></td>
		<td><%= h(checkout.copy.book.title) %></td>
	</tr>	
	<%	end%>
	</table>
</fieldset>
<br/>


<script type="text/javascript" charset="utf-8">

	$(function(){
		$('#accession').focus();
			
		<% if @playErrorSound %>
			$('#bonk')[0].play();
		<% end %>
		
		
		$('#checkout_form').submit(function(){
			var accession = $('#accession').val();
			if (accession && accession.length != 8) {
				$('#accession').val(null);
				$('#bonk')[0].play();
				$('p.flash').remove();
				accession = accession || '';
				$('<p class="flash">Accession code must be 8 characters long and you entered ' + accession.length +'.</p>').appendTo('body');
				return false;
			}
			return true;
		});
	});
	
</script>